.ticket-booking{
  height: 200px;
  color: black;

  .btn-delete {
    background: #DC3545;
    color: white;
    font-weight: bold;
  }


  .qrcode-container{
    height: 128px;
    width: 128px;
  }
}

h6{
  color: #000;
}
