<div class="container border-danger">
  <h4 *ngIf=" bookings && !bookings.length" class="mt-5 text-center">Vous n'avez pas de reservation actuellement.</h4>
  <div *ngIf="bookings && bookings.length > 0">
    <div class="ticket-booking w-75 mx-auto my-5 bg-light" *ngFor="let booking of bookings; let i = index" [id]="i">
      <div class="ticket-header text-light d-flex justify-content-center align-items-center h-25 bg-danger w-100">
        <h4>Le bijoux - Cinema</h4>
      </div>
      <div class="body-ticket p-2">
        <h6 class="d-inline-block">
          {{booking.fr_title}} - {{booking.duration | displayDuration}}
          <br/><br/>
          Le {{booking.screening_date | date: 'dd/MM/yyyy' }} a  {{booking.screening_start}}
          <br/><br/>
          Salle {{booking.label}} - siege {{booking.row}}{{booking.number}}
          <br/><br/>
          {{booking.email}}
        </h6>
        <div class="qrcode-container float-right">
          <qrcode id="qrcode" [qrdata]="booking.ticketIdentification.toString()" [width]="128"
                  [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
      <button class="mt-2 btn-delete" (click)="exportPDF(i, booking)" mat-raised-button>Export PDF</button>
      <button class="mt-2 btn-cancel ml-4" (click)="cancelBooking(booking.id, booking.seatId, booking.screeningId)"  mat-raised-button>Annuler ma reservation</button>
    </div>
  </div>
</div>
