<form [formGroup]="reviewForm" class="d-flex flex-column justify-content-between">
  <h3 class="text-center my-2 text-white">Avis</h3>
  <mat-form-field appearance="fill">
    <mat-label>Note</mat-label>
    <select matNativeControl required formControlName="rating">
      <option value="1">⭐</option>
      <option value="2">⭐⭐</option>
      <option value="3">⭐⭐⭐</option>
      <option value="4">⭐⭐⭐⭐</option>
      <option value="5">⭐⭐⭐⭐⭐</option>
    </select>
  </mat-form-field>
  <br>
  <mat-form-field floatLabel="always" class="w-100 mx-auto">
    <mat-label>Titre</mat-label>
    <input type="text" matInput formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput type="text" formControlName="comment" rows="5" cols="20"></textarea>
  </mat-form-field>

  <button class="mt-4 w-50 mx-auto btn-register" mat-raised-button (click)="submitReview()">Confirmer</button>
</form>
