::ng-deep mat-dialog-container {
  transform: none;
  background-color: #04192E !important;
  border: 2px solid yellow !important;
  width: 400px !important;

  mat-label {
    color: white;
  }

  ::ng-deep input {
    color: white !important;
  }
}

i {
  color: white;
}

textarea {
  color: #fff;
}
