<div class="container">
    <div class="review-container row mt-5" *ngFor="let review of reviews">

      <div class="info-movie position-relative d-flex row p-4">
        <div>
          <img [src]="review.poster" />
        </div>
        <div class="ml-4 mt-2">
          <h5>{{review.fr_title}}</h5>
          <div class="d-flex">
            <div *ngFor="let rate of review.rating | displayRate">
              <i [ngClass]="rate.classIcon"></i>
            </div>
          </div>
          <p class="date-review">{{review.created_at | date:'dd/MM/yyyy'}}</p>
        </div>
      </div>

      <div class="review-comment d-flex align-items-center p-5">
        <blockquote>{{review.comment}}</blockquote>
      </div>

      <div class="btn-grp d-flex flex-column justify-content-center">
        <button class="btn-udate" (click)="openModalReview(review.id)" mat-raised-button>Modifier</button>
        <button class="mt-2 btn-delete" (click)="deleteUserReview(review.id)" mat-raised-button>Supprimer</button>
      </div>
    </div>
  </div>
