.review-container {
  height: auto;
  background: #032344;

  .info-movie {
    width: 44%;
    border-right: 1px solid white;
    img{
      height: 240px;
      width: 160px;
      border: 2px solid white;
    }

    .date-review {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }
  }

  .review-comment {
    width: 43.5%;
    font-family: Roboto, serif;
    font-size: 1.15em;
    font-weight: 600;
  }

  .btn-grp {
    background: #04192E;
    width: 15.2%;

    button {
      width: 80%;
      margin-left: 15px;
    }
  }
}

.review-container:hover {
    transition: 0.25s;
    box-shadow: 0 0 11px #CCA944;
}

@media screen and (max-width: 568px) {
  .review-container {
    display: flex;
    flex-direction: column;

    .info-movie, .review-comment, .btn-grp {
      width: 100%;
    }

    .info-movie {
      border-right: none;

      img{
        height: 170px;
        width: 115px;
        border: 2px solid white;
      }
    }

    .btn-grp {
      margin-top: 10px;
      button {
        width: 60%;
        margin: 0 auto;
      }
    }

    .review-comment {
      border-top: 1px solid white;
    }
  }
}
