.container {
  button {
    background: #CCA944;
    border-radius: 40px;
    padding: 6px 1.2em;
    font-weight: 600;
    color: black;
    margin-top: 1em;
  }
  button:hover {
    box-shadow: 0 0 12px #ddd;
    transition: 0.25s;
  }
  button:focus {
    outline: inherit;
  }

  .active-link {
    box-shadow: 0 0 12px #ddd;
    transition: 0.25s;
  }
}
