<h3 class="my-5 text-center text-white">Mon espace</h3>

<div class="container my-5">
  <div class="row my-5 w-75 mx-auto d-flex justify-content-center justify-content-around">
    <button routerLink="reservation" routerLinkActive="active-link">Reservations</button>
    <button routerLink="review">Critiques</button>
    <button routerLink="profile">Mes donnees</button>
  </div>

  <router-outlet></router-outlet>
</div>
