
    img{
      width: 170px !important;
      height: 170px !important;
      border-radius: 50%;
      border: 4px solid #CCA944;
    }

    .footer-card {
      display: flex;
      flex-direction: column;
      place-items: flex-start;
    }

