<h2 class="mt-4">Casting</h2>
<div *ngIf="actors && actors.length > 0">
<p-carousel class="d-flex flex-column" [value]="actors" [numVisible]="4" [numScroll]="1">
  <ng-template class="d-flex flex-column" let-actor pTemplate="item">
    <img class="ml-3" [src]="actor.image" alt="actor" />
    <div class="footer-card ml-5 mt-1">
      <p class="name-actor text-center">{{actor.first_name}} {{actor.last_name}}</p>
      <p class="role-actor text-center">{{actor.label}}</p>
    </div>
  </ng-template>
</p-carousel>
</div>
