.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url("https://cdn.discordapp.com/attachments/617078946869149706/782235232912932914/deadpool-2-movies-2018-movies.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
