  <div *ngIf="currentUser" class="d-flex ml-5">
    <img *ngIf="currentUser.data.user.avatar" height="90px" width="90px" [src]="currentUser.data.user.avatar" alt="avatar">
    <input class="ng-hide ml-5" id="input-file-id" multiple type="file" (change)="selectFile($event)" />
  </div>
<!--  -->
<!--  <form class="container d-flex flex-column justify-content-between mt-4">-->
<!--  <div class="mt-5 d-flex row">-->
<!--    <label>Pseudo</label>-->
<!--    <input class="ml-5" matInput type="text">-->
<!--  </div>-->
<!--  <div class="d-flex row">-->
<!--    <label>E-mail</label>-->
<!--    <input class="ml-5" matInput type="email">-->
<!--  </div>-->
<!--  <button mat-raised-button class="mx-2 btn mt-4">Enregistrer</button>-->
<!--  </form>-->
