::ng-deep mat-dialog-container {
  transform: none;
  background-color: #04192E !important;
  border: 2px solid yellow !important;
  width: 800px;
  height: 800px;

  mat-label {
    color: white;
  }

  ::ng-deep input {
    color: white !important;
  }
}

.container {
  height: 375px;
  width: 360px;

    .btn {
      height: 2.5em;
      background: #CCA944 !important;
    }
    .row{
      label{
        width: 110px;
      }

      input{
        background: none;
        border: none;
        border-bottom: 1px solid yellow;
      }
    }
}
