 <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" [src]='sanitizer.bypassSecurityTrustResourceUrl(Trailer.prop1)'
                allowfullscreen frameborder="0"></iframe>
 </div>
