<form [formGroup]="registerForm" class="d-flex flex-column justify-content-between p-2">
  <mat-form-field floatLabel="always" class="w-100 mx-auto">
    <mat-label>Pseudo </mat-label>
    <input matInput id="username" formControlName="username">
  </mat-form-field>
  <mat-form-field floatLabel="always" class="w-100 mx-auto">
    <mat-label>E-mail</mat-label>
    <input type="email" matInput id="email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="w-100 mx-auto" floatLabel="always">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="password">
<!--    <button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--    </button>-->
  </mat-form-field>
  <input type="file" id="file" value="John" (change)="selectFile($event)" style="width: 100%;" class="mb-2 mt-2">

  <div class="error" *ngIf="showError"> blablabla marche pas</div>
  <button class="mt-4 w-50 mx-auto btn-register"
          [disabled]="!registerForm.valid || !selectedFiles"
          mat-raised-button (click)="register()">Inscription</button>
</form>
