::ng-deep mat-dialog-container {
  transform: none;
  background-color: #04192E !important;
  border: 2px solid yellow !important;
  width: 800px;
  height: 800px;

  mat-label {
    color: white;
  }

  ::ng-deep input {
    color: white !important;
  }
}

.btn-register {
  background: #CCA944 !important;
}

.btn-register:hover {
  transition: 0.25s;
  background: #e0b63c !important;
}
.error{
  color: #e84545;
  text-align: center;
}
