<button class="mt-5" mat-raised-button *ngIf="authService.isLoggedIn && showAddReviewButton" (click)="openModalReview()">
  Laissez votre avis !
</button>

<div *ngIf="!authService.isLoggedIn" class="mt-4">Connectez vous pour donner votre avis !</div>

<!-- FILTER -->
<div class="stat-rate" *ngIf="percentRateArray">
  <div *ngFor="let reviewPercent of percentRateArray; let i = index">
    <div class="row align-items-center justify-content-around progress-rate" (click)="filterByRate(5 - i)">
      <div class="row align-items-center rate-stars">
        <div>{{5 - i}}</div>
        <i class="fas fa-star yellow"></i>
      </div>
      <progress class="change-text" max="100" value="{{reviewPercent}}" data-displayval="{{reviewPercent}}"></progress>
      ({{reviewRateArray[i]}})
    </div>
  </div>
  <div class="text-center reset-filter" *ngIf="filterActif" (click)="desactivateRateFilter()">
    <u>Reinitialiser le filtre</u>
  </div>
</div>

<!-- REVIEW CARDS -->
<div class="container mt-5">
  <div class="row mt-2">
    <div *ngIf="reviewsMovie && !reviewsMovie.length">Aucun avis</div>
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let reviews of reviewsMovie">
      <!-- START CARD -->
      <div class="review-card d-flex flex-column justify-content-between p-2 mt-4">
        <!-- HEADER -->
        <div class="card-header d-flex align-items-center justify-content-between border-bottom h-auto">
            <div>
              <span>{{reviews.username}}</span> <img [src]="reviews.avatar" alt="user-avatar">
            </div>
          <div class="d-flex">
            <div *ngFor="let rate of reviews.rating | displayRate">
              <i [ngClass]="rate.classIcon"></i>
            </div>
          </div>
        </div>
        <!-- HEADER -->
        <div class="card-body h-75 border-bottom p-2">
          <p>{{reviews.comment}}</p>
        </div>
        <!-- FOOTER -->
        <div class="card-footer h-auto d-flex justify-content-between p-2">
          <span>Le {{reviews.created_at | date:'dd/MM'}}</span> <span><i [ngClass]="reviews.alreadyLike ? 'fas fa-heart yellow' : 'fas fa-heart'" class="fas fa-heart" (click)="likeReview(reviews.id)"></i> {{reviews.likes}}</span>
        </div>
        <!-- FOOTER -->
      </div>
    <!-- END CARD -->
    </div>
  </div>
</div>
