.review-card {
  height: 19.2em;
  background: #032344;
  border-radius: 20px;
  transition: all .2s ease-in-out;

  .card-header {
    img{
      height: 3em;
      width: 3em;
      border-radius: 50%;
      margin-left: 6px;
    }
  }

  .card-body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }

  .card-footer {
    font-size: 1.2em;
    i {
      cursor: pointer;
    }
  }
}

.review-card:hover {
  transition: 0.25s;
  box-shadow: 0 0 11px #CCA944;
}

.stat-rate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2em;
    height: 100%;
    width: 20.5em;
    padding: 1em;
    border: 2px solid #CCA944;
    margin-top: 2.2em;

    .progress-rate {
      margin: 0;
      cursor: pointer;
    }

    .progress-rate:hover {
      background-color: #324f62;
      transition: 0.3s;
    }

    .rate-stars{
      margin-left: 10px;

      div{
        min-width: 13px;
      }
    }

    .reset-filter {
      cursor: pointer
    }
}
