@import "~ng-zorro-antd/ng-zorro-antd.min.css";

body{
    background: #04192E !important;
    color: white !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-select-value, .mat-select-placeholder, mat-label{
  color: white;
}

::ng-deep .mat-select-arrow {
  color: #CCA944 !important;
}

::ng-deep .mat-form-field-infix {
  border-bottom: 3px solid #CCA944;
}

::ng-deep .mat-form-field-ripple {
  background: #CCA944;
}

::ng-deep .mat-form-field-infix:hover {
  transition: 0.1s;
  border-bottom: 3px solid #fdc730;
}

::ng-deep .mat-form-field-underline {
  width: 0 !important;
}

.yellow {
  color: yellow;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
