<nav class="navbar navbar-dark secondary-color lighten-1">
    <a class="navbar-brand" routerLink="/accueil">Le bijoux</a>
      <ul class="navbar-nav ml-auto">
        <!-- Utilisateur non connecter -->
        <li *ngIf="!currentUser" class="nav-item">
          <button mat-raised-button (click)="openModalRegister()">Inscription</button>
          <button mat-raised-button class="mx-2" (click)="openModalLogin()">Connexion</button>
        </li>
      </ul>
      <!-- Utilisateur connecter -->
      <div *ngIf="currentUser" class="d-flex align-items-center justify-content-end mr-4 w-50">
        <span>Bonjour, {{currentUser.data.user.username}}</span>
        <img class="ml-2" [src]="currentUser.data.user.avatar" width="60" height="60" style="border-radius: 30px" alt="avatar-user">
        <span [matMenuTriggerFor]="menu" class="material-icons menu-dropdown">keyboard_arrow_down</span>
        <mat-menu #menu="matMenu" class="mt-3 p-2">
          <button mat-menu-item routerLink="/accueil/dashboard/reservation">Mon espace</button>
          <button mat-menu-item (click)="logout()">Deconnexion</button>
        </mat-menu>
      </div>
  </nav>
