nav {
    background-color: #002C73;

    .nav-link{
        color: #fff !important;
        background-color: #393e46;
        padding: 0.35em 0.7em;
        border-radius: 1em;
        transition: 0.2s;
        margin: 0 6px;
    }
    .nav-link:hover{
        cursor: pointer;
        box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.7);
    }

    .active-link{
        background-color: #e84545;
        padding: 0.35em 0.7em;
        border-radius: 1em;
        transition: 0.2s;
    }

    .active-link:hover{
        box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.7);
    }

    .dropdown {
        .dropdown-toggle{
            cursor: pointer;
        }
        .dropdown-info > a:hover {
            background-color: grey;
        }
    }
}

.menu-dropdown{
  margin-top: 0.2em;
  font-size: 2.2em;
  cursor: pointer;
}
