.header-booking{
  width: 360px;
  .movie-info{
    img{
      height: 240px;
      width: 175px;
      border: 2px solid white;
    }
  }
}

.item-programmation {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  background: #0F111E;
}

.item-programmation:hover {
  transition: 0.25s;
  background: #FFCC02;
  color: black;
}

.seat-container{
  width: 70vw;
  margin: 0 auto;
}

::ng-deep .mat-select-value, .mat-select-placeholder, mat-label{
  color: white;
}

::ng-deep .mat-select-arrow {
  color: #CCA944 !important;
}

::ng-deep .mat-form-field-infix {
  border-bottom: 3px solid #CCA944;
}

::ng-deep .mat-form-field-ripple {
  background: #CCA944;
}

::ng-deep .mat-form-field-infix:hover {
  transition: 0.1s;
  border-bottom: 3px solid #fdc730;
}

::ng-deep .mat-form-field-underline {
  width: 0 !important;
}

.seat {
  height: 36px;
  width: 45px;
  margin: 7px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  text-decoration: none;
}

.screen {
  background-color: #fff;
  height: 7em;
  width: 100%;
  margin: 15px 0;
  -webkit-clip-path: polygon(0 1%, 100% 1%, 97% 90%, 3% 90%);
  clip-path: polygon(0 1%, 100% 1%, 97% 90%, 3% 90%);
}

.seat-legend {
  height: 48px;
  width: 62px;
  margin: 8px;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  text-decoration: none;
}

.available {
  background: #e84545;
}

.selected {
  background: #CCA944;
}

.occupied {
  background: #FFF;
}

.test {
  background: #FFCC02;
  color: black;
}

.btn-active {
  height: 45px;
  background: #CCA944 !important;
}

.btn-inactive {
  height: 45px;
  background: #CCA944 !important;
  opacity: 0.6 !important;
}

.container-bottom-booking {
  padding: 15px 40px;
  height: 200px;
}

.theater-container {
  width: 1240px;
}


