<div class="container">
<h2 class="text-center my-5">Reservation</h2>

 <h5 *ngIf="movieScreenings && !movieScreenings.length" class="mt-5 text-center">Il n'y a pas de seance actuellement pour ce film.</h5>

<!-- HEADER POSTER/TITLE Film -->
<div class="header-booking d-flex align-content-center ml-5 my-3" *ngIf="!loadingScreenings && movieScreenings && movieScreenings.length > 0">
  <div class="movie-info text-center my-2">
    <img [src]="movieScreenings[0].poster" />
    <h4 class="mt-2">{{movieScreenings[0].fr_title}}</h4>
  </div>
  <mat-form-field class="mt-5 ml-3" appearance="fill">
    <mat-label>Format (2D, IMAX, ...)</mat-label>
    <mat-select>
      <mat-option (click)="fetchScreeningByFormat(format.value)" *ngFor="let format of formats" [value]="format.value">
        {{format.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Liste des seances du film -->
<p *ngIf="!loadingScreenings && !movieScreenings">Aucune seance actuellement</p>
<div class="container-programmation mt-4 ml-4 mb-5 d-flex flex-wrap" *ngIf="!loadingScreenings && filteredMovieScreenings && filteredMovieScreenings.length > 0">
  <h5 class="mt-4">Choisissez le jour de votre seance</h5>
  <div (click)="getScreening(programmation.id)" [id]="programmation.id" class="item-programmation text-center shadow ml-5" *ngFor="let programmation of filteredMovieScreenings">
      <div>{{programmation.screening_date | date:'dd/MM'}} {{programmation.screening_start}}</div>
  </div>
</div>

<!-- Affichage des sieges d'une seance -->
<div class="seat-container" *ngIf="showSeats">
  <p class="ml-5">Nombre de place encore disponible {{screening[0].nb_spectator}}</p>
  <div class="d-flex flex-row align-items-center w-auto h-auto ml-5 mt-4">
    <label class="mt-3">Disponible</label>
    <button class="seat-legend available "></button>
    <label class="mt-3 ml-3">Selectionné</label>
    <button class="seat-legend selected "></button>
    <label class="mt-3 ml-3">Occupé</label>
    <button class="seat-legend occupied "></button>
  </div>
  <div class="theater-container row p-5">
    <div class="screen"></div>
    <button (click)="selectSeat(seat)" *ngFor="let seat of screening" class="seat"
         [disabled]="seat.seat_statut === 'occupied'"
         [ngClass]="{'available mr-5': seat.seat_statut === 'available' && (seat.number === 3 || seat.number === 15),
          'available': seat.seat_statut === 'available', 'selected': seat.seat_statut === 'selected', 'occupied': seat.seat_statut === 'occupied'}"
    >{{seat.row}}{{seat.number}}
    </button>
  </div>
</div>

<div class="container-bottom-booking d-flex justify-content-between align-items-center w-100 mt-5" *ngIf="movieScreenings && movieScreenings.length > 0">
<mat-form-field class="ml-3" appearance="fill">
  <mat-label>statut (requis)</mat-label>
  <mat-select>
    <mat-option (click)="selectVouch(vouch.value)" *ngFor="let vouch of vouchs" [value]="vouch.value">
      {{vouch.viewValue}}
    </mat-option>
  </mat-select>
  <mat-hint style="color: white">Une verification vous sera demandée au guichet</mat-hint>
</mat-form-field>
  <p *ngIf="selectedSeat">
    Vous avez selectionné le siege {{selectedSeat.row}}{{selectedSeat.number}} le {{selectedSeat.screening_date | date:'dd/MM'}} a {{selectedSeat.screening_start}}
  </p>
<button mat-raised-button [disabled]="!selectedSeat || !selectedVouchId"
        [ngClass]="selectedSeat && selectedVouchId ? 'btn-active' : 'btn-inactive'" (click)="bookScreening()">Confirmer ma reservation
</button>
</div>
</div>


