.card-movie {
  height: 450px;

  .card-image {
    i {
      display: none;
      font-size: 4em;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-40%, -50%);
      color: white;
    }
    img {
      height: 360px;
      width: 260px;
      border: 4px solid white;
    }
  }

  .card-image:hover {
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
  }
  .card-image:hover > i {
    transition: 0.25s;
    display: block;
  }
  .filter {
    // width: 100vw;
    display: flex;
    text-align: end;
    justify-content: flex-end;
  }

  .card-footer {
    margin: 0 auto;
    padding: inherit;

    p {
      color: #545454;
    }

    .btn-redirect-movie {
      background: #CCA944;
      border-radius: 40px;
      padding: 3px 1.3em;
      font-weight: 700;
      color: black;
    }

    .btn-redirect-movie:hover {
      box-shadow: 0 0 11px #ddd;
      transition: 0.3s;
    }
    .btn-redirect-movie:focus {
      outline: inherit;
    }
  }
}

::ng-deep .mat-select-value, .mat-select-placeholder, mat-label{
  color: white;
}

::ng-deep .mat-select-arrow {
  color: #CCA944 !important;
}

::ng-deep .mat-form-field-infix {
  border-bottom: 3px solid #CCA944;
}

::ng-deep .mat-form-field-ripple {
  background: #CCA944;
}

::ng-deep .mat-form-field-infix:hover {
  transition: 0.1s;
  border-bottom: 3px solid #fdc730;
}

::ng-deep .mat-form-field-underline {
  width: 0 !important;
}
