<app-home-header></app-home-header>

<div class="container-fluid px-5 mt-5">
  <div class="d-flex row my-1 ml-3">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choisir une date</mat-label>
      <input (dateChange)="filterByScreeningDay($event)" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon style="color: #CCA944">keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Format (2D, 3D, ...)</mat-label>
    <mat-select (selectionChange)="filterByFormat($event)">
      <mat-option *ngFor="let format of formats" [value]="format.value">
        {{format.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>


    <h1 class="my-5 ml-5 font-weight-light">Films à l'affiche</h1>
  <div class="row mt-3">
    <h4 *ngIf="!movies.length">Aucun film a l'affiche</h4>
    <div *ngFor="let movie of movies | ongoingMovies" class="col-xl-3 col-lg-4 col-md-6 px-2">
        <div class="card-movie px-1 d-flex flex-column mx-auto">
          <div class="align-self-center card-image">
            <i class="fas fa-play" data-toggle="modal" (click)="openModal(movie.trailer)"></i>
            <img [src]="movie.poster" alt="poster-movie"/>
          </div>
          <div class="card-footer mt-2 d-flex">
            <div class="movie-info">
              <h5>{{movie.fr_title}}</h5>
              <p>{{movie.duration}} min | {{movie.label}}</p>
            </div>
            <div class="btn-movie-detail ml-1 mt-3">
              <button class="btn-redirect-movie" [routerLink]="['movie', movie.id]">Fiche</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <h1 class="my-5 ml-5 font-weight-light">Films à venir</h1>
  <div class="row mt-4">
    <div *ngFor="let movie of movies | upcomingMovies" class="col-xl-3 col-lg-4 col-md-6 px-2">
      <div class="card-movie px-1 d-flex flex-column mx-auto">
        <div class="align-self-center card-image">
          <i class="fas fa-play" data-toggle="modal" (click)="openModal(movie.trailer)"></i>
          <img [src]="movie.poster" alt="poster-movie"/>
        </div>
        <div class="card-footer mt-2 d-flex">
          <div class="movie-info">
            <h5>{{movie.fr_title}}</h5>
            <p>{{movie.duration}} min | {{movie.label}}</p>
          </div>
          <div class="btn-movie-detail ml-1 mt-3">
            <button class="btn-redirect-movie" [routerLink]="['movie', movie.id]">Fiche</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

