<form [formGroup]="loginForm" class="d-flex flex-column justify-content-between p-2">
  <mat-form-field class="example-full-width" floatLabel="always" class="w-100 mx-auto">
    <mat-label>Pseudo </mat-label>
    <input matInput id="username" formControlName="username">
  </mat-form-field>
  <mat-form-field floatLabel="always" class="w-100 mx-auto">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <div style="height: 1em">
    <p *ngIf="loginError" class="mat-error text-center" id="info-msg">Vos identifiants sont incorrects</p>
  </div>
  <button [disabled]="!loginForm.valid" class="mt-4 w-50 mx-auto btn-login" mat-raised-button (click)="authenticate()">Connexion</button>
</form>
