::ng-deep mat-dialog-container {
  transform: none;
  background-color: #04192E !important;
  border: 2px solid yellow !important;
  width: 400px !important;

  mat-label {
    color: white;
  }

  ::ng-deep input {
    color: white !important;
  }
}

.btn-login {
  background: #CCA944 !important;
}

.btn-login:hover {
  transition: 0.25s;
  background: #e0b63c !important;
}
