<div class="container" *ngIf="movie">
    <div class="row">
        <div class="col-lg-5 col-sm-12 p-3 my-5 d-flex text-center">
            <img *ngIf="movie[0].poster" src="{{movie[0].poster}}" alt="movie-poster" class="img-thumbnail">
            <div class="info ml-3">
                <p>{{movie[0].title}} (2020)</p>
                <p>{{movie[0].director}}</p>
                <p>Science fiction</p>
                <div class="row ml-3 mb-5">
                    <div *ngFor="let rate of rating | displayRate">
                      <i  [ngClass]="rate.classIcon" aria-hidden="true"></i>
                    </div>
                </div>
              <button mat-raised-button class="mx-3 btn-booking mt-5" [routerLink]="['/accueil//booking/', movie[0].id]">Reserver</button>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12 mt-4">
            <div class="embed-responsive embed-responsive-16by9 ml-1 mt-2">
                <iframe class="embed-responsive-item"
                    [src]='sanitizer.bypassSecurityTrustResourceUrl(movie[0].trailer)'>
                </iframe>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 info">
            <span>Duree: {{movie[0].duration | displayDuration}}</span> <span class="ml-5"> Date de sortie 20 juillet 2020</span>
            <p class="mt-3 resume">{{movie[0].synopsis}}</p>
        </div>
    </div>

    <!-- CASTING -->
    <app-movie-detail-casting *ngIf="idMovie" [idMovie]="idMovie"></app-movie-detail-casting>

  <!-- REVIEW -->
  <app-movie-detail-review *ngIf="idMovie" [idMovie]="idMovie" [idUser]="currentUserId"></app-movie-detail-review>
</div>
