body{
    background: #21262E;
    color: white;
}

.img-thumbnail{
    width: 15em;
    height: 20em;
}

.stars-container > i {
    font-size: 1.3em;
}

.info{
    span{
        font-weight: 600;
    }

    p {
    margin-top: 8px;
    }

    .resume{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.4;
        font-weight: 500;
    }

  .btn-booking {
      height: 3em;
      background: #CCA944 !important;
  }
}
.card-body{
    display: flex;
    align-items: center;
    background: white;
    height: 3.5em;
    font-size: 1.1em;
    padding: 1em;
    color: black;

    .card-title{
        margin: 0;
    }
}

.review{
    color: black;
    .col-6{
        background: #1D1D27;
        padding: 1.8em;
        color: white;
    }

    .left{
        border-right: 3px solid black;
    }

    i{
        color: rgb(255, 255, 73);
        font-weight: bolder;
        font-size: 1.15em;
    }
}

.review-container{
    border: 1px solid white;
}

.red {
  color: red;
}

.grey {
  color: grey;
}
